STRIPE_SECRET_KEY=sk_live_YOUR_SECRET_KEY_HERE
STRIPE_PUBLISHABLE_KEY=pk_live_YOUR_PUBLISHABLE_KEY_HERE
STRIPE_WEBHOOK_SECRET=whsec_YOUR_WEBHOOK_SECRET_HERE
DOMAIN=https://www.ninashomemadedelights.com
PORT=3000
SMTP_USER=your_gmail@gmail.com
SMTP_PASS=your_gmail_app_password
